# The DNS record for pve.{$DOMAIN} must point to your home's public IP address.
pve.{$DOMAIN} {
	reverse_proxy 192.168.0.100:8006 {
		transport http {
			tls
			tls_insecure_skip_verify
		}
	}
}
{$DOMAIN}, www.{$DOMAIN} {
	root * /var/www/website
	file_server
}
pihole.{$DOMAIN} {
	redir / /admin/
	reverse_proxy pihole:80
}
budget.{$DOMAIN} {
	reverse_proxy actual-server:5006
}
vault.{$DOMAIN} {
	reverse_proxy vaultwarden:80
}
dashboard.{$DOMAIN} {
	reverse_proxy homepage:3000
}
office.{$DOMAIN} {
	reverse_proxy onlyoffice-documentserver:8080
}
home.{$DOMAIN} {
	reverse_proxy homeassistant.local:8123
}
